.agreement {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500vh;
    background-color: #f3f3f3;
}

.agreement_box {
    margin: 150px;
}

.agreement_box > h1 {
    font-weight: bolder;
    font-size: xx-large;
}

.agreement_box > h2 {
    font-weight: bold;
    font-size: large;
    text-align: left;
}

.agreement_box > div {
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    border: 1px solid black;
    padding: 10px;
}

.moveToRegisterBtn {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    background: #61dafb;
    border-color: #b6c3e2;
  }