.find_myID {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 93.5vh;
    background-color: #f3f3f3;
}

.input_form {
    margin: 30px;
}

.login_logo {
    margin-top: 50px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.input_form > h1 {
    font-weight: bold;
    font-size: x-large;
    text-align: left;
}

.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

.box.int_id {
    padding-right: 110px;
}

.stdd_input {
    display: table-cell;
    width: 472px;
}

.find_pwd_btn {
    position: absolute;
    border-radius: 2px;
    width: 250px;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    background: #61dafb;
    border-color: #b6c3e2;
}

.login_btn {
    position: absolute;
    border-radius: 2px;
    width: 250px;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    background: #febd69;
    border-color: #000000;
    color: #000000;
    text-decoration:none !important;
}